.leaflet-container {
  position: relative;
  width: 100%;
  z-index: 0;
  margin-bottom: 0;
}
/* Don't Even Ask */
@media (min-height: 1px) and (max-height: 99px){.leaflet-container {height: 99px;}}
@media (min-height: 99px) and (max-height: 199px){.leaflet-container {height: 199px;}}
@media (min-height: 199px) and (max-height: 299px){.leaflet-container {height: 299px;}}
@media (min-height: 299px) and (max-height: 399px){.leaflet-container {height: 399px;}}
@media (min-height: 399px) and (max-height: 499px){.leaflet-container {height: 499px;}}
@media (min-height: 499px) and (max-height: 599px){.leaflet-container {height: 599px;}}
@media (min-height: 599px) and (max-height: 699px){.leaflet-container {height: 699px;}}
@media (min-height: 699px) and (max-height: 799px){.leaflet-container {height: 799px;}}
@media (min-height: 799px) and (max-height: 899px){.leaflet-container {height: 899px;}}
@media (min-height: 899px) and (max-height: 999px){.leaflet-container {height: 999px;}}
@media (min-height: 999px) and (max-height: 1099px){.leaflet-container {height: 1099px;}}
@media (min-height: 1099px) and (max-height: 1199px){.leaflet-container {height: 1199px;}}
@media (min-height: 1199px) and (max-height: 1299px){.leaflet-container {height: 1299px;}}
@media (min-height: 1299px) and (max-height: 1399px){.leaflet-container {height: 1399px;}}
@media (min-height: 1399px) and (max-height: 1499px){.leaflet-container {height: 1499px;}}
@media (min-height: 1499px) and (max-height: 1599px){.leaflet-container {height: 1599px;}}
@media (min-height: 1599px) and (max-height: 1699px){.leaflet-container {height: 1699px;}}
@media (min-height: 1699px) and (max-height: 1799px){.leaflet-container {height: 1799px;}}
@media (min-height: 1799px) and (max-height: 1899px){.leaflet-container {height: 1899px;}}
@media (min-height: 1899px) and (max-height: 1999px){.leaflet-container {height: 1999px;}}
@media (min-height: 1999px) and (max-height: 2099px){.leaflet-container {height: 2099px;}}
@media (min-height: 2099px) and (max-height: 2199px){.leaflet-container {height: 2199px;}}
@media (min-height: 2199px) and (max-height: 2299px){.leaflet-container {height: 2299px;}}
@media (min-height: 2299px) and (max-height: 2399px){.leaflet-container {height: 2399px;}}
@media (min-height: 2399px) and (max-height: 2499px){.leaflet-container {height: 2499px;}}
@media (min-height: 2499px) and (max-height: 2599px){.leaflet-container {height: 2599px;}}
@media (min-height: 2599px) and (max-height: 2699px){.leaflet-container {height: 2699px;}}
@media (min-height: 2699px) and (max-height: 2799px){.leaflet-container {height: 2799px;}}
@media (min-height: 2799px) and (max-height: 2899px){.leaflet-container {height: 2899px;}}
@media (min-height: 2899px) and (max-height: 2999px){.leaflet-container {height: 2999px;}}
@media (min-height: 2999px) and (max-height: 3099px){.leaflet-container {height: 3099px;}}
@media (min-height: 3099px) and (max-height: 3199px){.leaflet-container {height: 3199px;}}
@media (min-height: 3199px) and (max-height: 3299px){.leaflet-container {height: 3299px;}}
@media (min-height: 3299px) and (max-height: 3399px){.leaflet-container {height: 3399px;}}
@media (min-height: 3399px) and (max-height: 3499px){.leaflet-container {height: 3499px;}}
@media (min-height: 3499px) and (max-height: 3599px){.leaflet-container {height: 3599px;}}
@media (min-height: 3599px) and (max-height: 3699px){.leaflet-container {height: 3699px;}}
@media (min-height: 3699px) and (max-height: 3799px){.leaflet-container {height: 3799px;}}
@media (min-height: 3799px) and (max-height: 3899px){.leaflet-container {height: 3899px;}}
@media (min-height: 3899px) and (max-height: 3999px){.leaflet-container {height: 3999px;}}
@media (min-height: 3999px){.leaflet-container {height: 4100px;}}


.popupMap {
  width: 200px;
  height: 70px;
}
.map_btn{
  z-index:1000;
  padding:10px;
  box-sizing:border-box;
  background-color:#fff;
  background-size:24px 24px;
  background-position:4px 4px;
  background-repeat:no-repeat;
  text-align:center;
  width:45px;
  height:45px;
  border-radius:4px;
  box-shadow:0 1px 5px rgba(0,0,0,0.65);
  cursor:pointer;
}
.img_btn {
  z-index:1000;
  padding:3px;
  box-sizing:border-box;
  background-color:#fff;
  background-size:24px 24px;
  background-position:4px 4px;
  background-repeat:no-repeat;
  text-align:center;
  width:20px;
  height:20px;
  border-radius:4px;
  box-shadow:0 1px 5px rgba(0,0,0,0.65);
  cursor:pointer;
  display: inline-block;
  margin-right: 5px;
}
.pop_btn {
  margin: 10px;
}
.fa-map {
  margin-left: 5px;
}
.map_btn:hover{
  background-color:#f4f4f4;
}
.detailed-link {
  text-decoration: none;
  color:#fff;
}
.btn a {
  color: #fff;
}
.list_btn {
  position:absolute;
  bottom:60px;
  left:10px;
}
.fav_btn {
  position:absolute;
  bottom:110px;
  left:10px;
}
.gps_btn {
  position:absolute;
  bottom:10px;
  left:10px;
}
